@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("images/33.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#logo {
  font-family: 'Archivo Black', sans-serif;
  line-height: 8%;
  font-size: 3.5rem;
  color: #FFF;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
          transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  text-shadow:1px 1px #d10e31,
              2px 2px #d10e31,
              3px 3px #d10e31,
              4px 4px #890920,
              5px 5px #5f0818,
              6px 6px #5c0213,
              6px 6px 8px rgba(0,0,0,0.5);
}

main {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 26%;
  overflow-x: scroll;
}

/* Header & Search bar styles */
header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.search {
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 20px;
}

.search::placeholder {
  color: #FFF;
}

.search:focus {
  outline: none;
}

/* Display Cards styles */ 

.movie {
  display: grid;
  margin: 10px;
  padding: 0.2rem;
  border-radius: 6px;
  position: relative;
  background: rgba( 5, 5, 5, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
}

.movie img {
  inline-size: 100%;
  border-radius: 4px;
  height: 60dvh;
}

.movie-card-display {
  
}

.movie-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #FFF;
  margin-top: -60px;
}

.movie-rating {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
}

.overview {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-size: 18px;
}

.wiki-link {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
}

@media (max-width: 800px) {
  main {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 48%;
    padding: 1rem;
    overflow-x: scroll;
  }
}