@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo {
  font-family: 'Archivo Black', sans-serif;
  line-height: 8%;
  font-size: 3.5rem;
  color: #fff;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
          transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  text-shadow:1px 1px #d10e31,
              2px 2px #d10e31,
              3px 3px #d10e31,
              4px 4px #890920,
              5px 5px #5f0818,
              6px 6px #5c0213,
              6px 6px 8px rgba(0,0,0,0.5);
}

header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.search {
  background-color: #000;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 20px;
}

.search::placeholder {
  color: #FFF;
}

.search:focus {
  outline: none;
}

.movie-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.movie-rating {
  font-family: 'Roboto', sans-serif;
}

.overview {
  font-family: 'Roboto', sans-serif;
}

.wiki-link {
  font-family: 'Roboto', sans-serif;
}