@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo {
  font-family: 'Archivo Black', sans-serif;
}

.movie-title {
  font-family: 'Archivo Black', sans-serif;
}

.movie-rating {
  font-family: 'Roboto', sans-serif;
}

.overview {
  font-family: 'Roboto', sans-serif;
}

.wiki-link {
  font-family: 'Archivo Black', sans-serif;
}